

.button{

    -fx-graphic: url(swords.png);
    -fx-font-size: 25px;
    -fx-font-family: 'Segoe Print';
    -fx-font-weight:bold;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;


}

.button:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-shadow-highlight-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor:hand;
}

.label{
    -fx-font-size: 25px;
    -fx-font-family: 'Segoe Print';
    -fx-font-weight:bold;
}

.choice-box .label{
    -fx-font-size: 15px;
}